<mat-stepper orientation="vertical" [linear]="false" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel
        >Mi Emprendimiento <mat-icon>home</mat-icon></ng-template
      >
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Emprendimiento</mat-label>
        <input matInput placeholder="Nombre del Emprendimiento" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>RIF</mat-label>
        <input
          matInput
          placeholder="Registro Único de Información Fiscal"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Estructura Legal</mat-label>
        <mat-select>
          <mat-option value="0"> Venezolano </mat-option>
          <mat-option value="1"> Extranjero </mat-option>
          <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Logo</mat-label>
        <input matInput placeholder="Logo" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirrecion</mat-label>
        <input matInput placeholder="Direccion" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="Correo Electronico" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          type="tel"
          [disabled]="disableNumber.value"
          required
        />
      </mat-form-field>
      <mat-checkbox [formControl]="disableNumber"
        >No poseo Numero de Telefono</mat-checkbox
      >
      <mat-form-field appearance="fill">
        <mat-label>Moneda Local</mat-label>
        <input matInput placeholder="Telefono" type="text" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Acronimo de la Moneda</mat-label>
        <input matInput placeholder="Telefono" type="text" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Horario de Entrada</mat-label>
        <input matInput placeholder="Telefono" type="time" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Horario de Salida</mat-label>
        <input matInput placeholder="Telefono" type="time" required />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          matStepperNext
        >
          Siguiente
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Informacion Personal</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder="Nombre del Emprendimiento" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nacionalidad</mat-label>
        <mat-select>
          <mat-option value="0"> Venezolano </mat-option>
          <mat-option value="1"> Extranjero </mat-option>
          <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cedula o Pasaporte</mat-label>
        <input matInput placeholder="Cedula o Pasaporte" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          placeholder="Telefono"
          type="tel"
          [disabled]="disableNumber.value"
          required
        />
      </mat-form-field>
      <mat-checkbox [formControl]="disableNumber"
        >No poseo Numero de Telefono</mat-checkbox
      >
      <mat-form-field appearance="fill">
        <mat-label>Numero de Seguridad Social</mat-label>
        <input
          matInput
          placeholder="Seguridad Social"
          type="tel"
          [disabled]="disableSecurity.value"
          required
        />
      </mat-form-field>
      <mat-checkbox [formControl]="disableSecurity"
        >No poseo Numero de Seguridad Social</mat-checkbox
      >
      <mat-form-field appearance="fill">
        <mat-label>Trabajo</mat-label>
        <mat-select>
          <mat-option value="0"> Venezolano </mat-option>
          <mat-option value="1"> Extranjero </mat-option>
          <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option> -->
        </mat-select>
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          matStepperNext
        >
          <mat-icon>navigate_before</mat-icon>
          Regresar
        </button>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          matStepperNext
        >
          Siguiente
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Usuario</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>PSeudonimo</mat-label>
        <input matInput placeholder="Nombre del Emprendimiento" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="Correo Electronico" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Seguridad Social"
          type="password"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repetir Contraseña</mat-label>
        <input
          matInput
          placeholder="Seguridad Social"
          type="password"
          required
        />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          matStepperNext
        >
          Finalizar
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
