<div class="dialog">
  <h1 mat-dialog-title>Modificar Mi Negocio</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        title="name"
        type="text"
        matInput
        [(ngModel)]="name"
        minlength="6"
        required
        (blur)="nameValidation()"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estructura Legal</mat-label>
      <mat-select matInput [(ngModel)]="ls" required>
        <mat-option *ngFor="let element of listLS" [value]="element.id">
          {{ element.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Registro Único de Información Fiscal</mat-label>
      <input
        title="rif"
        type="text"
        matInput
        [(ngModel)]="rif"
        minlength="3"
        required
        (blur)="rifValidation()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefono</mat-label>
      <input
        title="phone"
        type="tel"
        matInput
        [disabled]="disableNumber.value"
        [(ngModel)]="phone"
        numbersOnly
        minlength="3"
        required
        (blur)="phoneValidation()"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Direccion</mat-label>
      <input
        title="direction"
        type="text"
        matInput
        [(ngModel)]="direction"
        minlength="10"
        required
        (blur)="directionValidation()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo Electronico</mat-label>
      <input
        title="mail"
        type="mail"
        matInput
        [(ngModel)]="mail"
        minlength="10"
        required
        (blur)="mailValidation()"
      />
      <mat-error>Use una direcion de correo valida</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Moneda Local</mat-label>
      <input
        title="coin"
        type="text"
        matInput
        [(ngModel)]="coin"
        minlength="3"
        StringsOnly
        required
        (blur)="coinValidation()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Acronimo</mat-label>
      <input
        title="acronym"
        type="text"
        matInput
        [(ngModel)]="acronym"
        minlength="1"
        StringsOnly
        required
        (blur)="acronymValidation()"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="update()">
      <mat-icon>edit</mat-icon>
      Modificar
    </button>
  </div>
</div>
