<h1 mat-dialog-title>
  {{ entity != null ? "Modificar " : "Registrar " }}
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Codigo</mat-label>
    <input title="code" type="number" matInput [(ngModel)]="code" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input title="name" type="number" matInput [(ngModel)]="name" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="entity != null ? update() : create()"
  >
    Registrar
  </button>
</div>
