<div class="container">
  <div class="bg">
    <div class="center">
      <h2 class="Display-4">Pagina No Encontrada</h2>
      <div class="buttons">
        <a mat-raised-button color="primary" [routerLink]="['/']">
          Volver al Inicio <mat-icon matSuffix>home</mat-icon>
        </a>
        <a
          class="report"
          mat-button
          href="https://www.linkedin.com/in/marioordazv/"
          >Desea Enviar una Queja o Sujerencia al Desarrollador</a
        >
      </div>
    </div>
  </div>
</div>
