<h1 mat-dialog-title>
  {{
    entity != null
      ? "Modificar Certifiacacion Academica"
      : "Registrar Certifiacacion Academica"
  }}
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Empleado</mat-label>
    <input title="employee" type="number" matInput [(ngModel)]="employee" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grado</mat-label>
    <input title="grade" type="number" matInput [(ngModel)]="grade" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input title="title" type="string" matInput [(ngModel)]="title" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="entity != null ? update() : create()"
  >
    Registrar
  </button>
</div>
