<mat-card-content>
  <form [formGroup]="recoveryForm" (ngSubmit)="validUsername()">
    <mat-form-field>
      <input
        matInput
        placeholder="Nombre Completo"
        name="name"
        formControlName="name"
        type="text"
        [(ngModel)]="name"
        required
      />
      <!-- <mat-error *ngIf="username.invalid"
          >Usuario es Requerido</mat-error
        > -->
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Usuario"
        name="username"
        formControlName="username"
        type="text"
        [(ngModel)]="username"
        required
      />
      <!-- <mat-error *ngIf="username.invalid"
          >Usuario es Requerido</mat-error
        > -->
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <button
      [disabled]="!recoveryForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      class="login-button"
    >
      Recuperar
      <mat-icon matSuffix>subdirectory_arrow_right</mat-icon>
    </button>
  </form>
</mat-card-content>
