<div class="container">
  <div class="module">
    <p class="title">{{ title }}</p>
    <div class="data">
      <div class="info">
        <mat-form-field class="search" appearance="outline">
          <mat-label>Buscar</mat-label>
          <input
            matInput
            type="text"
            placeholder="Buscar..."
            (keyup)="updateFilter($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Buscador a Tiempo Real de {{ title }}</mat-hint>
        </mat-form-field>
      </div>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [columns]="columns"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="5"
        [selected]="selected"
        [selectionType]="SelectionType.single"
        (activate)="onActivate($event)"
        (select)="onSelect($event)"
        id="tablePDF"
      >
      </ngx-datatable>
    </div>
    <div class="selected-column">
      <mat-card class="example-card">
        <mat-card-subtitle>{{ title }}</mat-card-subtitle>
        <mat-card-title>
          {{ !selected.length ? "Opciones" : "Seleccionado:" }}
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <mat-list *ngIf="!selected.length">
            <mat-list-item>
              <button
                mat-raised-button
                class="buttonSC"
                [routerLink]="['/user']"
                color="warn"
              >
                <mat-icon>arrow_back</mat-icon>
                Regresar
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button
                mat-raised-button
                class="buttonSC PDF"
                (click)="createPDF()"
              >
                <mat-icon matPrefix>picture_as_pdf</mat-icon>
                PDF
              </button>
            </mat-list-item>
          </mat-list>
          <mat-list *ngFor="let sel of selected">
            <mat-list-item>
              <strong>PSeudonimo: </strong> {{ sel.banned }}
            </mat-list-item>
            <mat-list-item>
              <strong>Motivo o Razón: </strong> {{ sel.reason }}
            </mat-list-item>
            <mat-list-item>
              <strong>Inhabilitada Por: </strong> {{ sel.user }}
            </mat-list-item>
            <mat-list-item>
              <strong>Fecha de Inhabilitación: </strong> {{ sel.date | date }}
            </mat-list-item>
            <mat-list-item>
              <button
                mat-raised-button
                class="buttonSC"
                color="primary"
                (click)="delete(sel)"
              >
                <mat-icon>check</mat-icon>Activar
              </button>
            </mat-list-item>
            <mat-list-item>
              <button
                mat-raised-button
                color="basic"
                class="buttonSC"
                (click)="clearSelection()"
              >
                <mat-icon> clear_all</mat-icon>
                Deseleccionar
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
