.example-spacer {
    flex: 1 1 auto;
  }

.exit
{
    color: #f40f02;
    font-weight: 400;
}

.exit mat-icon
{
    color: #f40f02;
}

mat-nav-list a{
    color:#3f51b5;
    font-size: 18px;
    font-weight: 500;
}