<div class="dialog">
  <h1 mat-dialog-title>Recibir Pedido</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Factura</mat-label>
      <input
        type="string"
        matInput
        numbersOnly
        placeholder="Factura"
        [(ngModel)]="request.code"
        required
        (blur)="codeValidation()"
      />
    </mat-form-field>
    <form [formGroup]="formConcept" (ngSubmit)="addContent()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <span matSuffix style="font-size: 20px">
                {{ nameProduct }}
              </span>
              <mat-label>Producto</mat-label>
              <input
                type="text"
                matInput
                formControlName="product"
                placeholder="Producto"
                [matAutocomplete]="Product"
                (blur)="codeMeasure()"
              />
              <mat-autocomplete #Product="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option.code"
                >
                  {{ option.code }} - {{ option.name }} -
                  {{ option.description }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Cantidad</mat-label>
              <input
                type="number"
                formControlName="amount"
                matInput
                min="0"
                placeholder="cantidad"
                onkeypress="return (event.charCode >= 46 && event.charCode <= 57)"
                (blur)="amountValidation()"
              />
              <span matSuffix>
                <strong>{{ this.measureDec }}</strong>
              </span>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Precio Unitario</mat-label>
              <input
                type="number"
                formControlName="price"
                matInput
                placeholder="Precio"
                min="0"
                onkeypress="return (event.charCode >= 46 && event.charCode <= 57)"
                (blur)="priceValidation()"
              />
              <span matSuffix>
                <strong>{{ coin }}</strong>
              </span>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Fecha de Vencimiento</mat-label>
              <input
                title="expiration"
                formControlName="expiration"
                matInput
                [matDatepicker]="picker"
                (blur)="dateValidation()"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <button
              style="width: 100%; margin-bottom: 20px"
              type="submit"
              [disabled]="!formConcept.valid"
              mat-raised-button
            >
              +
            </button>
          </td>
        </tr>
      </table>
    </form>
    <div>
      <table table style="width: 100%; font-size: 16px; text-align: center">
        <tr>
          <th>Código</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
        <ng-container *ngIf="concept.length > 0; else noProduct">
          <tr *ngFor="let item of concept">
            <td>{{ item.product }}</td>
            <td>
              {{ getName(item.product) }}
            </td>
            <td>{{ item.amount }} {{ getMeasure(item.product) }}</td>
            <td>{{ item.price }} {{ coin }}</td>
            <td>{{ item.amount * item.price }} {{ coin }}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="editConcept(item.product)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteConcept(item.product)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="4"><strong>Precio Total</strong></td>
            <td>
              <strong>{{ this.priceTotal }} {{ coin }}</strong>
            </td>
          </tr>
        </ng-container>
        <ng-template #noProduct>
          <tr>
            <td colspan="5" style="margin: 20px">
              No Hay Productos Registrado
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="addOrder()">
      <mat-icon>edit</mat-icon>
      Registrar
    </button>
  </div>
</div>
