<div class="dialog">
  <h1 mat-dialog-title>Cambiar Contraseña</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        placeholder="Contraseña"
        name="password"
        [(ngModel)]="password"
        minlength="8"
        required
      />
      <mat-error>
        La Contraseña debe tener al Menos 8 caracteres, 1 Mayuscula, 1 Minuscula
        y 1 Especial (Sin Espaciados)
      </mat-error>
      <mat-hint>
        La Contraseña debe tener al Menos 8 caracteres, 1 Mayuscula, 1 Minuscula
        y 1 Especial (Sin Espaciados)</mat-hint
      >
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confime Contraseña"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        minlength="8"
        required
      />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error> Comfirme su Contraseña </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="close()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="change()">
      <mat-icon>edit</mat-icon>
      Confirmar
    </button>
  </div>
</div>
