/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container
{
    min-height: 85vh;
    max-height: 100vh;
    width: 100%;
}

.module
{
    margin: 40px;
}

.title
{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: #3f51b5;
}

.search
{
    width: 100%;
    margin: 12px auto;
}

.data
{
    float: left; 
    width: 70%;
}

.selected-column
{
    margin-top: 14px;
    float: right; 
    width: 25%;
}

.buttonSC
{
    width: 100%;
}

.EXCEL
{
    color: white;
    background: #1D6F42;
}

.PDF
{
    color: white;
    background: #f40f02;
}

.overlay
{
    min-height: 100%;
    width: 100%;
    position: fixed;
    background-color: #17171717;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog
{
    min-width: 460px;
    max-width: 90%;
    margin: 20px auto;
    padding: 6px;
}

.dialog h1, h3
{
    text-align: center;
}

.dialog h1
{
    color: #3f51b5;
    font-size: 36px;
    padding: 0px 20px;
}

.dialog h3
{
    font-size: 24px;
}

.example-full-width {
    width: 100%;
}

.detailtable
{
    width: 100%;
    text-align: center;
}

.detailtable th
{
    font-size: 12px;
}

.dialog mat-form-field
{
    display: block;
    width: 80%;
    margin: auto;
    padding: 12px;
}

.dialog mat-checkbox
{
    display: block;
    margin: auto;
    width: 80%;
    font-size: 18px;
}

.dialog .subtitle
{
    padding: 20px;
}

.dialog mat-form-field input
{
    display: block;
    width: 100%;
    font-size: 18px;
}

.dialog button
{
    width: 45%;
    margin: auto;
    padding: 6px;
}