<div class="container">
  <div class="module">
    <mat-card class="cardMaster">
      <mat-card-subtitle>
        <mat-icon> category</mat-icon>
        Mi Negocio
      </mat-card-subtitle>
      <mat-card-title>Informacion Rapida</mat-card-title>
      <mat-card-content>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Productos"> </mat-tab>
          <mat-tab label="Invetarios"> </mat-tab>
          <mat-tab label="Transaciones"> </mat-tab>
          <mat-tab label="Ventas"> </mat-tab>
          <mat-tab label="Divisas"> </mat-tab>
          <mat-tab label="Pedidos"> </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
